<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="data/log.txt" append="false">
            <PatternLayout pattern="%d{HH:mm:ss} %c{1}.%method - %msg%n"/>
        </File>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %c{1}.%method - %msg%n"/>
        </Console>
        <File name="File2" fileName="${sys:user.home}/log_voice.txt" append="true">
            <PatternLayout pattern="%d{YYYY.MM.dd HH:mm:ss} %c{1}.%method - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug"/>
            <AppenderRef ref="File2" level="info"/>
        </Root>

    </Loggers>
</Configuration>