[Unit]
Description=LocalTunnel
After=multi-user.target
[Service]
Type=simple
ExecStart= lt --port 8001 --subdomain squeeze
Restart=always
RestartSec=3
[Install]
WantedBy=multi-user.target
