[Unit]
Description=Tunnel
After=multi-user.target
After=network.target
After=network-online.target
After=squeeze-vpn.service
[Service]
Type=simple
User=root
Restart=always
RestartSec=10
ExecStart = ngrok http --domain=unicorn-neutral-badly.ngrok-free.app 8010
[Install]
WantedBy=multi-user.target
