[Unit]
Description=Local Tunnel
#After=multi-user.target
After=network.target
After=network-online.target
[Service]
Type=simple
Restart=yes
Restart=always
RestartSec=3
ExecStart= lt --port 8020 --subdomain alise_skill_lms
[Install]
WantedBy=multi-user.target
