[Unit]
Description=Squeeze Alice
#After=multi-user.target
After=network.target
After=network-online.target
[Service]
Type=simple
User=root
WorkingDirectory=/opt/squeeze-alice-1.0/
Restart=always
RestartSec=10
ExecStart=java -jar /opt/squeeze-alice-1.0/squeeze-alice-1.0.jar
[Install]
WantedBy=multi-user.target
