[Unit]
Description=Squeeze Alice
#After=multi-user.target
After=network.target
After=network-online.target
[Service]
Type=simple
User=root
WorkingDirectory=/opt/squeeze-alice-1.0/
Restart=no
;Restart=always
#RestartSec=5
ExecStart=java -jar /opt/squeeze-alice-1.0/squeeze-alice-1.0.jar -lmsip 192.168.1.110 -port 8010
[Install]
WantedBy=multi-user.target
