[Unit]
Description=Local Tunnel
#After=multi-user.target
After=network.target
After=network-online.target
[Service]
Type=simple
User=root
#Restart=yes
#Restart=always
#RestartSec=3
ExecStart= sudo ngrok http --domain=unicorn-neutral-badly.ngrok-free.app 8010
[Install]
WantedBy=multi-user.target
